[2014-10-08 08:34] s-panferov opened #1 "Implement cookies support as middleware and client methods"
Some basic stuff is ready, now wait for https://github.com/hyperium/hyper/pull/71.

[2014-10-08 08:36] s-panferov opened #2 "Implement session storage"
In plans after cookies #1.

[2014-10-08 08:37] s-panferov opened #3 "Implement file serving and receiving"

[2014-10-15 02:16] reem opened #4 "Remove dependencies that aren't used"
You have a few packages in Cargo.toml that you don't use, like rust-http, you should remove them.

[2014-10-15 05:33] #4 closed, assigned to nobody

[2014-11-27 09:11] #3 closed, assigned to s-panferov

[2014-11-27 09:12] #1 closed, assigned to s-panferov

[2014-12-02 10:04] s-panferov opened #7 "Support RequestId"
Support RequestId from https://github.com/interagent/http-api-design

[2014-12-11 07:17] #2 closed, assigned to s-panferov

[2014-12-11 14:53] s-panferov opened #8 "Use unboxed closures for endpoint handlers"
I really want to use unboxed closures in Rustless. But now it's blocked by rust-lang/rust#19374.

[2014-12-28 08:37] s-panferov opened #9 "Can't compile because of rustc error"
To track: https://github.com/reem/rust-error/issues/9 https://github.com/rust-lang/rust/issues/19056

[2015-01-05 11:22] s-panferov opened #10 "Can't compile because of errors in deps"
See https://github.com/reem/rust-modifier/issues/10

[2015-01-05 11:22] s-panferov commented on #9
This error was fixed, but #10 is still present.

[2015-01-05 11:22] #9 closed

[2015-01-06 17:44] s-panferov opened #11 "Support Swagger as Grape does"
See example in [grape-swagger](https://github.com/tim-vandecasteele/grape-swagger) gem.

[2015-01-19 17:33] #10 closed

[2015-01-19 17:33] #8 closed

[2015-01-22 12:55] s-panferov opened #15 "Implement support of JSON Schema for validation and Swagger 2.0 needs"
Swagger 2.0 initial support was implemented in #11. Now we need to think about JSON Schema integration.

[2015-01-22 12:55] s-panferov commented on #11
Basic support was added in #14. Close this, open #15

[2015-01-22 12:55] #11 closed

[2015-01-28 08:37] bestouff opened #16 "compilation failure: method `call` is not a member of trait `Handler`"
[code]

[2015-01-28 08:46] s-panferov commented on #16
@bestouff yes, there was some breaking changes in Iron today. I'll try to address them as soon as possible. I'll let you know.

[2015-01-30 09:24] bestouff opened #17 "compilation failure: unresolved import `std::io`. There is no `io` in `std`"
Due to some change in rust today:
[code]

[2015-01-30 19:37] s-panferov opened #19 "Rewrite body reader"
We need to use some common solution to read Iron's Body. Now there is just a `.read_to_end()` call that is useless if some middleware have already read the body.

[2015-01-30 19:39] #16 closed

[2015-01-30 19:42] #17 closed

[2015-01-30 19:44] s-panferov commented on #16
@bestouff Thanks for your issue. Rustless has been updated for latest changes in deps and rustc. I would be grateful for your feedback.

[2015-01-30 19:51] s-panferov commented on #15
Work started in https://github.com/rustless/valico/pull/2

[2015-01-30 21:46] bestouff commented on #17
Thank you very much !

[2015-01-31 06:23] s-panferov commented on #19
Tracking https://github.com/iron/iron/issues/287

[2015-02-09 06:35] bguiz opened #25 "JSON API example?"
Looking at the [postgres example](https://github.com/rustless/rustless/blob/master/examples/postgres/src/main.rs),
and I am wondering if you would be able to extend this to conform to [JSON-API](http://jsonapi.org/),
with Create, Update, and Delete statements as well.

I have previously [attempted something like this using nickel.rs](https://github.com/bguiz/rust-scratch/blob/master/nickel-postgre

[2015-02-09 06:40] s-panferov commented on #25
@bguiz thanks for the suggestion. I'll find some time today to clarify this.

[2015-02-09 06:42] bguiz commented on #25
@s-panferov That would be really great fi you did. I'm looking through the rest of this project, thanks for putting it together!

[2015-02-10 09:56] #25 closed

[2015-02-10 09:57] s-panferov commented on #25
@bguiz please see #28

[2015-02-15 10:57] s-panferov commented on #15
Basic support for validation has been implemented. Need to think how to integrate with Swagger.

[2015-02-16 10:44] s-panferov commented on #19
iron/iron#287 and https://github.com/iron/body-parser/pull/43 have landed, so we can use it here

[2015-02-21 09:47] s-panferov opened #32 "Build is broken"
I am waiting for `hyper` to update.

[2015-02-24 06:31] #32 closed

[2015-02-24 07:44] s-panferov commented on #19
Done in #31

[2015-02-24 07:44] #19 closed

[2015-02-26 06:49] s-panferov opened #33 "Use dsl_macros in the examples"
Usage of https://github.com/s-panferov/dsl-macros can simplify code-writing.

[2015-03-09 11:26] andor44 opened #35 "Server stops accepting connections after a while"
I have very little information regarding the issue yet, and this could be an Iron issue. The issue is basically that after some indeterminate amount of time (typically a few hours to a few days) the server seems to stop accepting new connections. It doesn't panic or return any errors anywhere, as far as I can tell. Any requests I attempt to make to it will time out.

[2015-03-09 11:39] s-panferov commented on #35
@reem @seanmonstar have you seen something like this before?

@andor44 do you have code to reproduce?

[2015-03-09 11:59] s-panferov commented on #33
Done

[2015-03-09 11:59] #33 closed

[2015-03-09 20:25] reem commented on #35
I haven't. I'm guessing there's a bug in hyper's `ListenerPool` that causes it to drop threads.

[2015-03-09 21:14] seanmonstar commented on #35
Logs would also be useful, if possible (`RUST_LOG=hyper=trace` and usage of `env_logger`).

[2015-03-09 22:16] andor44 commented on #35
@s-panferov I do not have any, yet. I'll see if I can reproduce this with a minimal code example, but like I said, the problem is that this seems to manifest itself over time

@seanmonstar I provided that env var but I see no output whatsoever.

[2015-03-09 22:57] seanmonstar commented on #35
@andor44 you need to set up a logger. The `env_logger` package on crates.io uses the env var.

[2015-03-09 23:00] andor44 commented on #35
@seanmonstar gotcha. I'll keep logging and see if I can catch anything.

[2015-03-10 09:23] andor44 commented on #35
Okay, I hit the point where it doesn't accept connections again. I can see a lot of
`TRACE:hyper::http: TODO: handle obs-folding (gross!)`
But this doesn't seem very relevant. What seems more worrying is that every request seems to end in
[code]
And then a new one begins again with `DEBUG:hyper::server: Incoming stream`. The last request that was processed didn't end up up in that error though.

[2015-03-10 14:35] seanmonstar commented on #35
The EOF error is normal, it's how the server knows the connection was
closed. That's why it's only DEBUG. Unexpected errors log at ERROR.

However, EndOfFile errors were changed to something else with the new IO.
Are you using latest hyper?

On Tue, Mar 10, 2015, 2:23 AM Andor Uhlár <notifications@github.com> wrote:

[2015-03-10 14:38] andor44 commented on #35
I'm on 0.1.13 according to my `Cargo.lock`. I tried updating earlier last week but was unable to, due to deuterium being out of date IIRC.

[2015-03-10 14:41] s-panferov commented on #35
@andor44 not it's ok, please try the new version.

[2015-03-10 21:29] reem commented on #35
I am still just guessing, but what might be going on is that every thread in the pool is occupied in a keep-alive loop and the connections are never being closed.

[2015-03-10 21:52] andor44 commented on #35
I've updated to today's rustc nightly, plus all the highest versions available on crates.io (hyper 0.3.0, rustless 0.5.8). I'll let you know how it goes with this.

[2015-03-11 05:16] s-panferov commented on #35
@reem maybe we can add some more debugging logging (in temp branch of hyper) to check your idea?

[2015-03-11 13:03] andor44 commented on #35
This still happens with hyper 0.3.0

[2015-03-11 13:23] andor44 commented on #35
The situation @reem described sounds very plausible, as these are mobile clients that are sending `Connection: keep-alive`. I'll try bump the number of threads until it's fixed. It'd be probably a good idea to take this over to hyper's issue tracker.

[2015-03-11 13:30] s-panferov commented on #35
@andor44 yes, could you please make an issue there?

I also would be glad if you give me some common feedback about Rustless and maybe some thoughts about additional features you want.

[2015-03-11 13:58] andor44 commented on #35
Opened hyperium/hyper#368.

@s-panferov I'll try to collect my thoughts and probably open a separate issue with them in the not too distant future, if that's ok :smiley:

[2015-03-11 13:58] #35 closed

[2015-03-30 14:48] milanvanschaik opened #37 "Could not compile `queryst`"
When I try to cargo run, I get te following fail:

[code]

My Rust version:
[code]

Seems to fail at queryst which is also a dependency of Rustless. Any idea what is going wrong?

Update:
With rustc 1.0.0-nightly (6cf3b0b74 2015-03-30) (built 2015-03-30) I get the following:
[code]

[2015-04-04 09:57] s-panferov commented on #37
@milanvanschaik thanks for your report, I'm going to fix this soon.

[2015-04-10 23:45] LukasKalbertodt opened #38 "Does not compile (neither beta nor nightly)"
Compiling the complex example fails. I know, there are many problems with dependencies as well, but I this project hadn't had any activity for some time now. I hope rustless is still alive...

[2015-04-13 05:50] s-panferov commented on #38
@LukasKalbertodt I'm waiting for https://github.com/chris-morgan/mopa/issues/1, but it looks abandoned. I think I have to refactor my projects to remove the dependency, it will take some time.

[2015-04-13 15:07] LukasKalbertodt commented on #38
Removing dependencies sounds great in this current unstable Rust world... Thanks for working on it!

[2015-04-19 08:50] allan-simon commented on #38
it seems now the issue you were linking on mopa is fixed, is there's still some other things to fix ? and is there any way to give a hand ?  because i think if it can compile with the beta of rust, then it will be a great step forward to make it "near-production" ready.

[2015-04-19 10:40] LukasKalbertodt commented on #38
As far as I can tell, these are currently some issues:
- regex macros are used in rustless or some dependencies. Compiler extensions are unstable and not allowed in beta, therefore `regex` won't compile. I guess one needs to remove all uses of those macros.
- `phf_macros` is used in rustless or deps. Same as above.
- `jsonway` won't compile, but it seems like you already [fixed that](https://githu

[2015-04-19 10:50] allan-simon commented on #38
yes actually after my message i suddenly got some free time so i started digging into that

interesting enough regex compile when i compile it alone (with beta2)

[2015-04-19 11:03] LukasKalbertodt commented on #38
Yep, I already noticed that. Without using it's macros (I guess without `#![plugin(regex)]`), it works just fine.
It would be really great if rustless is compiling again...

[2015-04-19 11:15] allan-simon commented on #38
I've started to try to make valico compile (I'm going to eat something)
I haven't touched rust for a long time (6month) and I forgot , how can I tell valico to tell my patched version of jsonway ?

[2015-04-20 05:55] s-panferov commented on #38
@LukasKalbertodt 	@allan-simon 	thanks for your work! Right now there are some troubles with deps such as `iron/body-parser` and some others. They must be fixed to compile rustless. I'm working on it.

[2015-04-20 09:08] LukasKalbertodt commented on #38
By the way: Are you ( @s-panferov ) targeting beta or nightly or both? I think beta is more important...
And if you could post a list of broken deps, we could try to fix some of them...

PS @allan-simon : I wrote an email to your address on your github profile... If you haven't seen yet.

[2015-04-20 09:16] s-panferov commented on #38
@LukasKalbertodt right now I am trying to make it work on nightly because some deps now works only on nightly. Rustless itself is very conservative and doesn't use any unstable API, so after it will be fixed to work on nightly, we can adopt it for beta.

[2015-04-20 09:20] s-panferov commented on #38
@allan-simon valico and jsonway has been already fixed on nightly. Now https://github.com/iron/body-parser/pull/55 is the blocker.

[2015-04-25 10:22] LukasKalbertodt commented on #38
@s-panferov `body-parser` seems to be fixed now. Whats the status now?

[2015-05-01 09:42] #37 closed

[2015-05-02 06:15] bguiz opened #39 "Postgres example in feature/bodyparser, not merged to master"
- The readme in master does link to the file, as though it has been merged
- https://github.com/rustless/rustless/blob/feature/bodyparser/examples/postgres/src/main.rs

[2015-05-02 07:21] s-panferov commented on #39
Hello @bguiz 	! It's is separate [crate](https://github.com/rustless/rustless-example) now. I'll fix the link, thanks for your report.

[2015-05-03 05:44] s-panferov commented on #38
Fixed

[2015-05-03 05:44] #38 closed

[2015-05-03 13:01] LukasKalbertodt commented on #38
Nice!
However, "Fixed" may be misleading, because it still doesn't compile with beta. Maybe we should open another issue for beta. It should compile with beta before 1.0 is released I think...

[2015-05-03 13:30] allan-simon commented on #38
yes good idea to have a ticket for beta.

[2015-05-03 15:05] LukasKalbertodt opened #40 "Followup: Does not compile with beta"
From this issue: #38

This should work before the 1.0 release to ensure it will work with 1.0 as well.

[2015-05-03 19:26] flaub commented on #40
To this end, I've updated `queryst` to build with beta with this PR: rustless/queryst#5.

I have begun work on `rustless/valico` but I have one issue remaining, dealing with `mopa`.

[2015-05-03 21:58] flaub commented on #40
I've updated `rustless/valico` with PR rustless/valico#10 to work with beta

[2015-05-04 00:26] flaub commented on #40
I've updated `mopa` with PR chris-morgan/mopa#2 so it works with beta. Depending on how well this PR is received, I might update the `valico` PR to use `mopa` once again.

[2015-05-08 01:14] bguiz commented on #39
Thanks!

[2015-05-08 01:14] #39 closed

[2015-05-09 15:10] allan-simon commented on #40
@flaub  thanks, I can't wait for rustless to compile with rustc beta =)

[2015-05-10 10:38] #40 closed

[2015-05-10 10:40] s-panferov commented on #40
@flaub thanks again for the great work! I've removed mopa from the rustless.

v0.7.0 works on beta now!

[2015-05-10 15:43] allan-simon commented on #40
awesome \o/

[2015-05-10 15:44] allan-simon commented on #40
it may be good to precise it in the readme as it an important proof of stability.

[2015-05-10 18:14] flaub commented on #40
Great news! It would be good to remove references to the `dsl!` in the README also.

[2015-06-09 09:40] allan-simon opened #43 "Got internal server when sending invalid json, how to get more details"
I got this very simple api

[code]

and when I try

[code]

I got nothing in the server side, only a 500 on client side.

[2015-06-09 09:50] allan-simon opened #44 "params.req_typed("should_be_string", json_dsl::string()) accept integer values"
is it a bug on valico ?

when I require the parameter to a string,  the parameter is just "cast" into a string (or am I using the wrong function) ?

here's how to reproduce  (I'm going to edit the code in some hours to make it more minimal)

[code]

calling with  `{"text" :  1 }`  in POST body returns  HTTP OK, with

[code]

[2015-06-09 09:53] allan-simon opened #45 "params.find("my_parameter").unwrap().to_string() returns a string containing the double quote"
I would have expected to get the content of that string (as a string object) , instead i got the value itself plus the double quote around it

[2015-06-09 10:10] allan-simon opened #46 "In the README. link for jsonway is dead."

[2015-06-09 10:18] allan-simon opened #47 "how do i set header for response encoding and set content type as 'application/json'"
if the readme could explain that, it would be great

[2015-06-15 06:06] s-panferov commented on #44
@allan-simon yes, this is by-design. If you want strict type check, please use JSON Schema validation.

https://github.com/rustless/rustless#use-json-schema

[2015-06-15 06:07] s-panferov commented on #43
@allan-simon 	you can add an error-reporter, see example here https://github.com/rustless/rustless-example/blob/master/src/api/mod.rs#L15-L25

[2015-06-15 06:11] s-panferov commented on #47
You don't need to set content-type by hand, just use https://github.com/rustless/rustless-example/blob/master/src/api/tweets.rs#L20.

To set custom headers please use `.set_header()`, e.g. https://github.com/rustless/rustless/blob/44c0687276861d59f07ab6f60e4a57ef330869b9/src/batteries/swagger.rs#L410

[2015-06-15 06:11] s-panferov commented on #46
@allan-simon yes, thanks for reporting. I have some troubles with my DNS provider.

[2015-06-15 06:12] s-panferov commented on #45
@allan-simon could you please give me some short example to reproduce?

[2015-06-15 06:38] s-panferov commented on #46
DNS is working again

[2015-06-15 06:38] #46 closed

[2015-06-15 07:42] allan-simon commented on #44
ok thank you

[2015-06-15 07:42] #44 closed

[2015-06-15 07:43] allan-simon commented on #43
thank you.

[2015-06-15 07:50] allan-simon commented on #45
you can use the example  in  #44,  as you can see it return  "  1  "

[2015-06-15 10:49] allan-simon commented on #47
ok thanks I ended using  the set_header() because I'm doing this

[code]
and using  client.json() would have required to have a Json object, and i could not have used directly the .to_json() provided by rust_serialize , and I would still have needed to set the encoding to utf-8

[2015-06-19 08:06] allan-simon commented on #43
actually using a reporter does not fix the problem

[code]

still throw a 500 instead of 400

[2015-07-02 17:10] egorovd opened #48 "Not compiled..."
Hello,

In last version iron in Cargo.toml in section dep. set:
https://github.com/iron/iron/commit/26cd9eeedc246d94aee78497f2387f41983c7511

hyper = "0.5"

but in rustless

[dependencies.iron]
version = "*"

And because of this error is obtained:

/home/denis/.cargo/git/checkouts/rustless-7db87dce98c9dc38/master/src/backend/iron.rs:46:45: 46:58 error: mismatched types:
 expected `&hyper::header::

[2015-09-02 21:55] MarkSwanson opened #49 "No longer compiles with nightly"
I see this project hasn't had any updates in 4 months; is it still active?
Any interest in patches to get things working with nightly?

src/backend/iron.rs:68:27: 68:36 error: mismatched types:
 expected `core::option::Option<Box<iron::response::WriteBody + Send + 'static>>`,
    found `core::option::Option<Box<std::io::Read + Send + 'static>>`

src/batteries/cookie.rs:41:32: 41:61 error: mismatch

[2015-09-12 15:48] Byron commented on #49
I am seeing the same issue with Rust 1.2 stable.
Starting at the cookie-jar issue, unfortunately I didn't manage to make any progress towards making it compile. Not writing Rust for a while made me forget how complex things could get ... .

[2015-09-13 08:28] s-panferov commented on #49
@MarkSwanson right now I'm not supporting the project, because I don't see any interested users. If you're interested, I can update the project to the latest Rust.

[2015-09-13 08:33] Byron commented on #49
The project makes an excellent first impression, and 152 stars mean something too :) ! Now I am using Iron directly, but would have loved to use rustless instead. I even attempted to submit a PR to help making it compile, but couldn't figure out how to handle the `CookieJar`.

[2015-09-13 08:42] s-panferov commented on #49
@Byron ok, I'll try to update the project today or tomorrow.

[2015-09-13 14:59] MarkSwanson commented on #49
Rustless seems like the best way to get it done atm. I especially like/appreciate the direction to support Swagger 2.0.

[2015-09-13 15:10] Byron commented on #49
@s-panferov thanks a bunch !
It seems ticket #48 is related to this one as well.

[2015-10-03 12:44] mtorromeo commented on #49
I was also looking forward to start my first serious project in rust with rustless. It's too bad that this is not supported and I would gladly contribute if I was not still a total noob in rust :)

[2015-10-25 14:34] NickeZ commented on #49
+1 was going to try this out for my project, also got the same issues with iron.rs and cookie.rs. Are there any workarounds?

[2015-10-26 21:21] Dashed commented on #33
Can you please clarify that `dsl-macros` was used in the examples? I thought `dsl!` macro was part of the rustless API and was wondering why it wasn't in the api docs; until I found this issue.

[2015-10-31 11:54] s-panferov commented on #49
Hi all, sorry for the loooong delay. I've changed my context to another projects, but now I have plans to return to Rustless, because I see real improvements in Rust ecosystem.

Version `v0.8.0` works on latest Rust v1.4 (Stable). Please try it and say what you think!

[2015-10-31 11:54] #49 closed

[2015-10-31 11:54] s-panferov commented on #48
Hi all, sorry for the loooong delay. I've changed my context to another projects, but now I have plans to return to Rustless, because I see real improvements in Rust ecosystem.

Version `v0.8.0` works on latest Rust v1.4 (Stable). Please try it and say what you think!

[2015-10-31 11:54] #48 closed

[2015-10-31 12:47] #47 closed

[2015-10-31 13:03] s-panferov opened #50 "Future plans"
* [ ] Per-server and per-request logging.
* [ ] Hooks for plugins.
* [ ] Auth strategies.
* [ ] Error DSL.
* [ ] More Swagger.

[2015-11-10 00:38] Dashed commented on #49
@s-panferov That's awesome to hear!  Unfortunately, I went with barebones iron when I saw that rustless was *supposedly* abandoned. I definitely might migrate to rustless.

[2015-11-22 11:06] badboy opened #52 "Please use explicit version requirements for dependencies"
Currently it uses [star versions](https://github.com/rustless/rustless/blob/master/Cargo.toml#L24-L37), which **will** break.

[2015-11-22 14:05] zengsai commented on #52
Thanks, I fight for this error today for a long time.

[2015-11-22 19:31] s-panferov commented on #52
@badboy I'll try to fix this asap

[2015-11-22 20:33] badboy commented on #52
Cool! Thanks for the effort!

[2015-11-25 08:38] s-panferov commented on #52
@badboy version v0.7.1 compiles now on the latest Rust stable release.

[2015-11-25 08:38] #52 closed

[2015-11-27 22:45] dariusc93 opened #53 "Error compiling rustless"
I've been testing out rustless for a while but the latest version currently does not compile due to the following error:

[code]

[2015-11-28 08:33] s-panferov commented on #53
@dariusc93 this is because https://github.com/iron/iron/commit/32f8dfc65c87949c5a6b55a168298c81661cce1d. Everything is fixed in v0.7.2

[2015-11-28 08:33] #53 closed

[2015-11-28 08:33] s-panferov commented on #53
Thanks for your report!

[2015-12-28 20:38] wldhx opened #54 "Does not compile w/rustc 1.5.0"
[code]

[2016-01-10 19:44] cmr opened #55 "Relicense under dual MIT/Apache-2.0"
This issue was automatically generated. Feel free to close without ceremony if
you do not agree with re-licensing or if it is not possible for other reasons.
Respond to @cmr with any questions or concerns, or pop over to
`#rust-offtopic` on IRC to discuss.

You're receiving this because someone (perhaps the project maintainer)
published a crates.io package with the license as "MIT" xor "Apache-2.0

[2016-01-10 19:45] killercup commented on #55
I license past and future contributions under the dual MIT/Apache-2.0
license, allowing licensees to chose either at their option.

cmr <notifications@github.com> schrieb am So., 10. Jan. 2016 um 20:44:

[2016-01-11 04:14] globin commented on #55
r+

[2016-01-11 06:23] doabit commented on #55
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-11 23:22] mkovalchik commented on #55
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-11 23:28] flaub commented on #55
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2016-01-13 03:06] badboy commented on #55
I license past and future contributions under the dual MIT/Apache-2.0
license, allowing licensees to chose either at their option.

On Sun, Jan 10, 2016 at 11:44:56AM -0800, cmr wrote:

[2016-01-13 21:47] 33mhz opened #56 "Basic examples fail to build"
When I try to build the [basic example](https://github.com/rustless/rustless#basic-usage), it gives me this error:

[code]

It appears the `dsl_macros` crate needs to be included... Though after including it, I get:
[code]

I wasn't able to get other examples to work, either, using rustc 1.5.0, beta, or nightly.

Also note the example on the front page of rustless.com has `extern crate rustless;`

[2016-01-25 03:39] colemickens commented on #54
+1 same with rust 1.6

[2016-02-16 20:43] alex-caelus commented on #54
+1 same for me

[2016-02-26 08:33] dariusc93 commented on #54
It compiles for me on 1.6 and nightly. Could you provide an example code that i could try to use?

[2016-02-26 08:54] s-panferov commented on #54
Sorry guys but I can not allocate enough time to support rustless constantly because I don't see interest and activity in rust community in the context of web development. I think that it might change when someone invents good async web server.

I'll try to update rustless to compile in latest env today.

[2016-02-26 08:59] s-panferov commented on #54
Hmm, everything seems to work:

[code]

[2016-02-26 09:03] dariusc93 commented on #54
@s-panferov I feel rustless is stable enough to last for awhile. I havent noticed any bugs or issues with it at all either and been using it for close to 5 months (switched from pure iron to rustless).

[2016-02-26 09:14] s-panferov commented on #54
@dariusc93 nice to hear)

@wldhx Version 0.8.0 was yanked by me today, right version to use is 0.7.2. Please try it.

[2016-02-29 19:32] wldhx commented on #54
@s-panferov Yep, works for me now. Thanks :+1:

[2016-02-29 19:32] #54 closed

[2016-04-19 12:40] aoprisan commented on #56
This is what I have managed to do so that it compiles and starts, but I could touch any route with curl, they all give me 404
https://gist.github.com/aoprisan/1e3b40f18bc92c779698900bd5df7854
`Cargo.toml` looks like this:
[code]
Curls I have tried:
[code]
Gist content:
[code]

[2016-04-19 12:45] s-panferov commented on #56
@aoprisan

I think you should add `/api` prefix to your curl because of `api.prefix("api");` setting.

[2016-04-19 17:41] aoprisan commented on #56
You mean this:
`curl -H Accept:application/vnd.chat.v1+json http://localhost:4000/api/chats/1/users/2 -v`
? I did that, to no avail.

Here is a minimal project: https://github.com/aoprisan/try-rust

[2016-04-19 18:38] s-panferov commented on #56
@aoprisan ok, thanks, I'll take a look

[2016-04-21 05:54] s-panferov commented on #56
@aoprisan everything works as expected in your example. The issue here is that you're trying to receive answer via `GET` request, but your routes are configured to use `POST`.

Correct request

[code]

Answer:

[code]

[2016-04-21 09:04] aoprisan commented on #56
Silly me :), I can't believe I missed that. I didn't read the code properly, I was expecting it to be a GET. Thanks a lot for your effort. I saw that the example is updated as well :). I guess the issue can be closed.

[2016-04-21 09:15] #56 closed

[2016-04-28 16:53] antoine-de opened #58 "Stronger parameter typing"
Hi,

Don't you think it would be nice to have the possibility to type the handler parameters more ?

I really like the way rustless checks and coerces a handler parameters, but it seems they are only used to check the parameters, but in the handler, the parameters must be casted again to their right type.

It might be clearer with an example :wink::

[code]

I think it would be nice to give a stru

[2016-04-28 17:00] s-panferov commented on #58
@antoine-de I definitely like this, and I think that this can be done together with rewriting rustless to use Serde library, which is on roadmap. I'll try to implement this next week.

[2016-04-29 07:49] antoine-de commented on #58
great!

I'm not completely fluent in rustless for the moment, but don't hesitate to tell me if I can land a hand (i'm on #iron on irc, name antoine_de if you want)

[2016-05-03 06:28] s-panferov opened #59 "Move to Serde"
It seems like [`serde`](https://crates.io/crates/serde) (and likewise [`serde_json`](https://crates.io/crates/serde_json)) is becoming the canonical way to serialize/deserialize JSON in rust. Even the `rustc-serialize` docs [say](https://doc.rust-lang.org/rustc-serialize/rustc_serialize/json/index.html#the-status-of-this-library):

So I think that rustless must move to Serde too.

[2016-05-03 08:20] s-panferov opened #61 "Move to async hyper branch"
Async IO is a game changer. References:

* Iron tracking issue: https://github.com/iron/iron/issues/446
* Hyper tracking issue: https://github.com/hyperium/hyper/issues/395
* Async hyper blog article: http://seanmonstar.com/post/141495445652/async-hyper

[2016-05-03 08:30] s-panferov opened #62 "Add API inspection (log api routes)"
This will help to debug an API structure.

[2016-05-06 20:08] ekatsah opened #63 "Basic usage example doesn't compile on rustc 1.9"
When trying to compile the basic usage example, some errors are thrown:
[code]

The first one is easy, instead of ```use hyper::status::StatusCode;```, use ```use rustless::server::status::StatusCode;```.
I don't understand how to fix the three other errors. Any idea?

[2016-05-07 05:56] s-panferov commented on #63
@ekatsah thanks for your report, I'll take a look today.

[2016-05-24 16:23] lephyrius opened #64 "JSONway not working as response"
[code]
I try to do this but it doesn't work. How do I use jsonway as response?
This is the error message:
[code]

[2016-05-27 06:31] s-panferov commented on #64
@lephyrius yes, right not you have to serialize it. But provide a shortcut seems reasonable, I should do this.

[2016-06-29 20:37] BjarkeJM commented on #63
Just tried to run the basic example code and I am also experiencing this issue. Did you find a resolution?

[2016-06-30 07:42] ptxmac commented on #63
The problem is that the README doesn't specify what version of the dependencies are needed. In this case setting `valico = "0.8"` in Cargo.toml solves the problem.

[2016-07-02 21:24] oddRaven commented on #63
Changed to `rustless::server::status::StatusCode` and the code compiles and runs on port 4000, but I still get a 404 Not Found.

What is wrong?

[2016-07-27 07:10] aka-demik opened #68 "Optional iron dependency?"
I'm a little confused with line [default = ["iron_backend"]](https://github.com/rustless/rustless/blob/368d0291c1c9d806f03048d74680eee13c7e477a/Cargo.toml#L22) in Cargo.toml. Why is it optional?

Currently it is not working `src/lib.rs:13:1: 13:19 error: can't find crate for `iron` [E0463]`:
[code]
It is for the future? Multi-backend?

[2016-07-27 08:12] s-panferov commented on #68
@aka-demik yes, rustless tries to be independent from iron as much as possible.

[2016-07-27 08:12] #68 closed

[2016-08-13 18:25] chpio opened #69 "Update dependencies"
im on the latest rustless version (v0.7.3)
[code]

[2016-08-13 18:56] chpio commented on #69
another question: is this crate dead or are there plans to continue the development?

[2016-08-13 22:30] chpio commented on #59
any progress here, besides that commit in #60?

[2016-08-14 00:11] bonsairobo commented on #69
It would be nice to at least update to hyper 0.10 when we get async IO:

https://github.com/hyperium/hyper/pull/778

[2016-08-14 11:00] s-panferov commented on #69
@chpio this crate is not dead, but I decided to delay future development until Iron get Async support.

[2016-08-14 11:24] s-panferov commented on #69
I'll update rustless to latest dependencies anyway.

[2016-08-14 13:03] #69 closed

[2016-08-14 13:03] #59 closed

[2016-08-14 13:06] s-panferov commented on #63
I believe this is fixed in 0.9.0. Please try

[2016-08-14 13:06] #63 closed

[2016-08-14 13:06] chpio commented on #69
what's the reason that let you change your mind?

[2016-08-14 14:14] s-panferov commented on #69
@chpio what do you mean?

[2016-08-16 10:09] chpio commented on #58
i think as serde now landed in rustless, we could add this feature more easily now?

[2016-08-16 12:35] chpio opened #70 "before/after handler"
hi,

what is the best way to respond with an error in the before handler? the `error_response!` macro seems to be not exported, so there is no comfortable way to do that?!

[2016-08-16 14:06] chpio commented on #70
im doing
[code]
right now, but i can't get the purpose of the *error* field. is this only for internal use (logging)?

[2016-08-17 14:02] chpio opened #71 "allow more data types in json responses"
https://github.com/rustless/rustless/blob/0929e59d9c3c32f3024bf8e9de67d9b72ab82b49/src/framework/client.rs#L91-L96

some kind of:

[code]

[2016-08-17 20:17] chpio commented on #71
this should also fix #64

[2016-08-18 02:10] rprotasov opened #72 "Parameter values exist in handler but aren't included in the response"
Hi there! When returning a parameter value as text in a response I don't seem to be receiving that value in accompanying responses.

The handler seems to be correctly setup along with the fact that the parameter and its expected value do exist (can be confirmed by printing the `msg` once correctly deserialized in the example given).

However, when I simply return a static string (after a call to `

[2016-08-18 05:55] s-panferov commented on #70
Rustless don't include any body text to errors by default. You can change this by adding an `error_formatter`.

[2016-08-18 05:56] s-panferov commented on #71
@chpio yes, I'll try to implement this closer to the weekend

[2016-10-25 03:26] flosse opened #75 "Complete auth example"
Do you know a project that uses rustless (for the pure API) in combination with iron (for a usual web interface) that has protected areas?
I'm interested in the authentication part. How would you provide sessions?
Or do you know any other examples (e.g. using JWT?)?

[2016-11-13 18:04] flosse opened #77 "Access iron request object"
How can I get access to the iron request?

For example with the `persistent` crate, I'd do s.th. like this:
[code]
but `client.request` is not the irons request object.

[2016-11-15 16:25] anna-liao opened #78 "rustless.org domain name expired"
http://rustless.org/

NOTICE: This domain name expired on 10/5/2016 and is pending renewal or deletion.

[2016-11-26 03:17] Yamakaky opened #79 "Better doc for swagger"
I'm trying to use the swagger backend, but I can't find how to associate a handler to an API path?

[2016-12-07 06:33] matsbror opened #80 "Inconsistent dependencies of Cookie and openssl"
I just discovered rustless and wanted to give it a try on Linux Ubuntu 16.04. I have rustc 1.13 and cargo 0.13.0-nightly.

The build of rustless fails because of conflicting dependences on two different versions of openssl. As far as I can tell from the Cargo.lock file, these come from dependencies on two different versions of cookie. rustless wants cookie 0.4.0 and hyper wants cookie 0.2.5.

Sinc

[2016-12-07 23:38] mmacedoeu commented on #80
This crate doesn't look active. I have fixed this clash on my forked and submited a pull request. You can use my version using this config on your cargo.toml:

[code]

[2016-12-08 08:51] s-panferov commented on #80
Fixed in v0.10.0

[2016-12-08 08:51] #80 closed

[2016-12-08 08:55] s-panferov commented on #77
@flosse I'm not sure that we should expose Iron here because Rustless possibly can work with another backend.

[2016-12-08 09:07] flosse commented on #77
I see.
So accessing iron extensions is generally not possible?

[2016-12-08 09:12] s-panferov commented on #77
@flosse I'll try to make something with it.

[2016-12-08 09:35] s-panferov commented on #77
The main problem is that we use `backend::Request` as a Trait, but `Pluggable` methods are not object-safe.

So we have two ways to fix this:

1. Expose Iron request as-is instead of our trait (with "iron" feature).
2. Expose `get_iron_request() -> iron::Request` method.

[2016-12-09 01:55] flosse commented on #77
No, I think that will cause troubles :-\

That's better, because it's explicit but I'd call it just `iron_request()`.

[2016-12-23 22:57] AmarOk1412 commented on #78
I confirm, the description is not up to date. (btw, you can see the previous site with http://web.archive.org/web/20160424041045/http://rustless.org/)

[2017-02-21 03:36] djmitche commented on #78
This is now squatted by malware.  I assume this project is dead?

[2017-02-21 06:05] s-panferov commented on #78
I've removed the link to the site. I've decided not to renew the domain, because it costs too much for me without any profit. `README.md` is enough.

About status of the project: Rustless has a full set of features for now. I’m waiting until Rust’s async story will be stabilized. Also we need full async support in Hyper and Iron to continue improvements of the project.

[2017-02-21 06:05] #78 closed

[2017-02-21 13:56] djmitche commented on #78
Thanks for the update!

[2017-02-26 12:07] xliiv opened #82 "Example simple.rs doesn't work?"
I did
[code]
then run
[code]
and each one gives 404
What am I doing wrong?
Btw, is it possbile to print all registered routes?

[2017-03-02 04:55] mmacedoeu commented on #61
Any news on this, iron 0.5 is out there with async io !

[2017-03-15 04:47] thelastinuit commented on #82
Same here:
[code]

[2017-03-15 04:49] thelastinuit commented on #82
Even the example from Basic Usage:
[code]

[2017-03-31 10:17] beefsack opened #85 "Upgrade to Iron 0.5"
Hello, fantastic library, thanks for your hard work! Excuse the emboldening below, trying to ma

I'm currently trying to use `lettre` to send email from a `rustless` server, but the older version of `iron` depends on an old verison of `cookie`, which in turn depends on an old `openssl` meaning it's not possible to use the current stable version of `lettre`.

It's worth noting that in newer version

[2017-03-31 10:27] beefsack commented on #85
Sorry just realised this may not be the cause, closing this off for now while I do some more testing.

[2017-03-31 10:27] #85 closed

[2017-04-02 09:07] beefsack opened #86 "Website domain redirecting to placeholder page"
It looks like rustless.org is redirecting to a placeholder domain, perhaps it lapsed?

If rustless.org has become difficult to resurrect, perhaps rustless.rs is an option given the .rs TLD is quite popular in the ecosystem? I'd actually be happy to pitch in for the registration if it's an issue.

[2017-04-05 19:43] Darkeye9 commented on #82
This crate seems to be unmaintined, A BIG PITY! Since it's an excellent approach to building API's with Rust. Iron recently made a breaking change in it's API when started supporting Tokio async IO. The solution until this project gets updated is to downgrade Iron to 0.4 and all of it's dependencies.

[2017-04-05 19:45] Darkeye9 commented on #86
This project seems like abandoned. And I am not aware of any other library that does something as useful as this. Does anyone know if another library provides this same level of completeness when working with REST API's in Rust?

If not, I may try to at least make this compatible with latest Iron which contains async io based on Tokio.

[2017-04-07 01:58] beefsack commented on #86
I'm not sure about that, there seems to be recent activity.

[2017-12-17 11:35] lokx commented on #82
I will pick this up at a later stage as I need it. So happy to contribute.

[2018-02-12 21:25] giansalex opened #89 "Cannot run example from readme"
I used example [basic-usage](https://github.com/rustless/rustless#basic-usage).

**OS**:
win7
**cargo**:
cargo 0.24.0 (45043115c 2017-12-05)
**rustc**:
rustc 1.23.0 (766bd11c8 2018-01-01)

**cargo build result**:
[code]

**Cargo.toml**
[code]

[2018-02-22 19:49] giansalex commented on #89
this project is dead

[2018-02-22 19:49] #89 closed

[2018-03-03 00:21] s-panferov opened #90 "Owner here: Does community need this crate?"
Please write your opinion: should I continue to develop this crate? Do you want to use this in your application?

[2018-03-03 07:54] frol commented on #90
I think, nobody can force you to develop your project. I haven't used this project, but I see a great value in such a framework. The sad point I should bring here is that Iron has also been "abandoned":

Thus, if you choose to continue the development, you will need to consider switching the base framework, which might be painful.

Thanks for the great project! Good luck!

[2018-03-07 23:15] #90 closed

[2018-03-07 23:17] s-panferov opened #91 "Future Release"
I decided to return this project back to live. What needs to be done:

* [ ] Pick a new server backend. Maybe just go with pure Hyper?
* [ ] Update all the dependencies.
* [ ] Triage all the current GitHub issues

[2018-03-08 00:29] Darkeye9 commented on #91
Wow, that's fantastic, I always loved how this project aimed to build easy and ergonomic microservices in Rust.
Just some feeback, since the time I ceased to use this project, Rocket came along, it has a very good (I my opinion) way to generate equally easy and ergonomic API's.

What I consider key features for a project like this:
Routing => https://rocket.rs/guide/overview/#routing
Serializing t

[2018-03-13 17:50] Sjoerd opened #92 "PostgreSQL example broken"
The link for the PostgreSQL example in readme.md is broken

[2018-05-31 11:14] #92 closed, assigned to nobody

[2018-06-13 09:54] spacekookie commented on #91
How does hyper integrate with tokio? because otherwise, aiming to build on tokio for async i/o would probably be a good strategy

[2018-10-13 13:52] geromueller commented on #91
Any news here? I'm looking for a stable, not infected by the async hype api micro framework.

[2018-11-04 02:29] 0xpr03 commented on #91
Hyper is build on top of tokio, it's async. You can use hyper stuff inside any tokio runtime you want.
I have multiple hyper servers chained into one runtime for example.

[2019-01-09 14:52] #71 closed

[2019-01-09 14:52] #70 closed

[2019-10-13 08:48] Songtronix commented on #91
I wish something like this would be bring back to live. Is there anything being worked on right now? An entire year has passed :/

[2021-05-20 05:18] Jzow opened #96 "why stop updating all of a sudden"
I think it's very useful, but I don't see the multithreaded API demo :)

[2021-07-02 07:18] #96 closed, assigned to nobody